---
import Footer from "@components/Footer.astro";
import Grid from "@components/Grid.astro";
import Header from "@components/Header.astro";
import { CardPublication } from "@components/PublicationCard";
import SeeAllLink from "@components/SeeAllLink.astro";
import WorkCard from "@components/WorkCard.astro";
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";
import { sortBy, take } from "lodash-es";
import { getPublications } from "../content/getPublications";

const works = sortBy(
  (await getCollection("projects")).filter(c => c.data.featured),
  c => c.data.order
);
const publications = await getPublications();
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero">
      <!-- <p id="overline">ShortestPathLab @ Monash University</p> -->
      <h1>Industry-leading planning and heuristic search</h1>
      <p id="tagline">
        ShortestPathLab is a research group at Monash University led by A/Prof
        Daniel Harabor for AI planning and heuristic search.
      </p>
      <SeeAllLink href="/about" primary="About ShortestPathLab" />
    </section>

    <section class="featured wide md:hidden">
      <h2>
        Featured projects
        <div id="featured-gallery-controls">
          <button class="material-symbols-outlined left"
            >chevron_backward</button
          >
          <button class="material-symbols-outlined right"
            >chevron_forward</button
          >
        </div>
      </h2>
      <div>
        <ul class="flex flex-row gap-2">
          {
            works.map(work => (
              <div class="min-w-80">
                <WorkCard work={work} />
              </div>
            ))
          }
        </ul>
      </div>
      <SeeAllLink href="/projects" primary="See all projects" />
    </section>
    <section class="featured hidden md:block">
      <h2>Featured projects</h2>
      <Grid class="mt-8 gap-4">
        {
          works.map(work => (
            <div class="min-w-80">
              <WorkCard work={work} />
            </div>
          ))
        }
      </Grid>
      <SeeAllLink href="/projects" primary="See all projects" />
    </section>
    <section id="publications">
      <h2>Latest publications</h2>
      <ul>
        {
          take(publications, 3).map(c => (
            <CardPublication pub={c} client:idle />
          ))
        }
      </ul>
      <SeeAllLink href="/publications" primary="See all publications" />
    </section>
  </main>

  <Footer />
</Layout>

<style>
  #main-content {
    @apply bg-skin-fill;
  }
  /* ===== Hero Section ===== */
  #hero {
    @apply pb-12 pt-24 sm:pb-32 sm:pt-36;
  }
  #hero h1 {
    @apply my-2 inline-block text-2xl font-medium sm:my-2 sm:text-4xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero #overline {
    @apply max-w-xl text-sm font-medium opacity-70;
  }
  #hero #tagline {
    @apply mb-12 mt-4 max-w-xl font-medium;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  .featured,
  #recent-posts,
  #publications,
  #team {
    @apply pb-6;
  }
  .featured h2,
  #publications h2,
  #recent-posts h2,
  #team h2 {
    @apply text-2xl font-medium;
  }

  .featured.wide > div {
    @apply mt-8 snap-x snap-mandatory overflow-x-scroll;
    width: calc(var(--vw, 1vw) * 100);
    margin-left: calc(50% - calc(var(--vw, 1vw) * 50));
    scroll-padding-left: calc(
      calc(calc(calc(var(--vw, 1vw) * 100) - min(64rem, 100%)) / 2) + 1rem
    );
    padding-right: calc(
      calc(calc(calc(var(--vw, 1vw) * 100) - min(64rem, 100%)) / 2) + 1rem
    );
  }
  .featured.wide > div::-webkit-scrollbar {
    height: 0px;
  }
  .featured.wide > div > ul {
    @apply w-fit;
    padding: 0 calc(64rem + 1rem);
  }

  .featured.wide > div > ul > * {
    @apply snap-start;
  }
  .featured.wide > h2 {
    @apply flex flex-row justify-between;
  }
  #featured-gallery-controls {
    @apply translate-y-1;
  }
  .all-posts-btn-wrapper {
    @apply my-8 text-center;
  }
</style>
<script is:inline data-astro-rerun>
  document.addEventListener("astro:page-load", () => {
    const box = document?.querySelector?.(".featured.wide > div");
    document
      ?.querySelector?.("#featured-gallery-controls > .left")
      ?.addEventListener?.("click", () => {
        box.scrollBy({ left: -320, behavior: "smooth" });
      });
    document
      ?.querySelector?.("#featured-gallery-controls > .right")
      ?.addEventListener?.("click", () => {
        box.scrollBy({ left: 320, behavior: "smooth" });
      });
  });
</script>
