---
import { slice, startCase } from "lodash-es";

// Remove current url path and remove trailing slash if exists
const currentUrlPath = Astro.url.pathname.replace(/\/+$/, "");

// Get url array from path
// eg: /search/tailwindcss => ['tags', 'tailwindcss']
const breadcrumbList2 = currentUrlPath.split("/").slice(1);
const breadcrumbList = breadcrumbList2.map((c, i) => ({
  name: c,
  path: `/${slice(breadcrumbList2, 0, i + 1).join("/")}`,
}));
---

<div>
  <nav class="breadcrumb" aria-label="breadcrumb">
    <ul>
      <li>
        <a href="/">Home</a>
        <span aria-hidden="true" class="inline-block px-1 opacity-70"
          >{"/"}</span
        >
      </li>
      {
        breadcrumbList.map(({ name, path }, index) =>
          index + 1 === breadcrumbList.length ? (
            <li>
              <span class={`capitalize opacity-50`} aria-current="page">
                {/* make the last part lowercase in Home > Tags > some-tag */}
                {startCase(decodeURIComponent(name))}
              </span>
            </li>
          ) : (
            <li>
              <a href={path}>{name}</a>
              <span aria-hidden="true" class="inline-block px-1 opacity-50">
                {"/"}
              </span>
            </li>
          )
        )
      }
    </ul>
  </nav>
</div>

<style>
  div {
    @apply w-full bg-skin-fill;
  }
  .breadcrumb {
    @apply mx-auto mb-4 mt-8 w-full max-w-5xl px-4 font-medium sm:mt-0;
  }
  .breadcrumb ul li {
    @apply inline;
  }
  .breadcrumb ul li a {
    @apply capitalize;
  }
  .breadcrumb ul li span {
  }
  .breadcrumb ul li:not(:last-child) a {
    @apply hover:opacity-100;
  }
</style>
