---
import { LOGO_IMAGE, SITE } from "@config";

const currentYear = new Date().getFullYear();

export interface Props {
  noMarginTop?: boolean;
}
---

<footer class="mt-24">
  <div class="footer-wrapper">
    <div class="footer-content">
      <div class="footer-logo">
        <a href="/" class="whitespace-nowrap">
          {
            LOGO_IMAGE.enable ? (
              <img
                class="min-h-8 min-w-8 saturate-0"
                src={`/assets/${LOGO_IMAGE.svg ? "logo.svg" : "logo.png"}`}
                alt={SITE.title}
                width={LOGO_IMAGE.width}
                height={LOGO_IMAGE.height}
              />
            ) : (
              SITE.title
            )
          }
        </a>
      </div>
      <div class="footer-items">
        <section>
          <h3>Footer</h3>
          <p>Footer item</p>
          <p>Footer item</p>
          <p>Footer item</p>
        </section>
        <section>
          <h3>Footer</h3>
          <p>Footer item</p>
          <p>Footer item</p>
          <p>Footer item</p>
        </section>
        <section>
          <h3>Footer</h3>
          <p>Footer item</p>
          <p>Footer item</p>
          <p>Footer item</p>
        </section>
      </div>
    </div>
    <div class="copyright-wrapper">
      <span>Copyright &#169; {currentYear}</span>
    </div>
  </div>
</footer>

<style>
  footer {
    @apply w-full bg-black bg-opacity-95 text-white;
  }
  .footer-logo {
    @apply flex-1;
  }
  .footer-wrapper {
    @apply m-auto flex max-w-5xl flex-col gap-8 py-6 sm:flex-col sm:py-32;
  }
  .footer-content {
    @apply flex flex-row px-4;
  }
  .footer-items {
    @apply grid flex-[4] grid-flow-row-dense gap-16 sm:justify-between sm:text-right;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 220px), 1fr));
  }
  .footer-items section {
    @apply ml-0 flex flex-col gap-2 pr-0 sm:mr-0;
  }
  .footer-items section p {
    @apply font-normal;
  }
  .link-button {
    @apply my-1 p-2 hover:rotate-6;
  }
  .link-button svg {
    @apply scale-125;
  }
  .copyright-wrapper {
    @apply my-4 flex flex-col self-end whitespace-nowrap px-4 text-sm opacity-50 sm:flex-row;
  }
  .separator {
    @apply hidden sm:inline;
  }
</style>
