---
import { slugifyStr } from "@utils/slugify";
import type { CollectionEntry } from "astro:content";

export interface Props {
  work?: CollectionEntry<"projects">;
}
const { work } = Astro.props;
---

<a
  href=`/projects/${work?.slug}`
  transition:name={slugifyStr(work?.data.title ?? "")}
>
  <li class="mb-8 list-none">
    <div
      class=`flex flex-col gap-2 h-72 min-w-64 rounded-md p-6 bg-cover bg-bottom`
      style=`background-image: url('${work?.data?.image??'/assets/white.png'}')`
    >
    </div>
    <h3 class="mt-4 pr-8 text-lg leading-6">
      {work?.data?.title}
    </h3>
    <p class="mt-2 pr-8 text-sm">
      {work?.data?.description}
    </p>
  </li>
</a>
