---
const BASE_URL = (id: string) =>
  import.meta.env.PROD
    ? `https://pathfinding.ai/assets/demos/${id}.workspace`
    : `http://localhost:4321/assets/demos/${id}.workspace`;

export type Props = { id: string; name: string };

const { id, name } = Astro.props;
---

<a
  href={`https://posthoc-app.pathfinding.ai?workspace=${encodeURIComponent(BASE_URL(id))}`}
  target="_blank"
  class="not-prose flex max-w-max flex-row items-center gap-2 truncate rounded-md bg-skin-inverted px-4 py-2"
>
  <span class="material-symbols-outlined text-skin-inverted">workspaces</span>
  <span class="text-skin-inverted">Open in Posthoc</span>
  <span class="truncate text-skin-inverted text-opacity-70">{name}</span>
</a>
